body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
header{
  background: #f3f3f3;
  padding: 5px;

}
@media screen and (min-width: 600px){
}
@media screen and (min-width: 960px){
}

